#header {
    /*position:fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 100%;*/
    z-index : 100000;
    position: fixed;
    top: 0;
    margin: 0;
    background: rgb(2,0,36);
    background:linear-gradient(182deg, rgb(143 143 255) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:  hidden;
    height: 50vh !important;
      width: 100%;
    transition: .7s;
} 

#header.small {
      height: 15vh !important;
      font-size:  16px;
}
 #header.small #header-title {
     font-size: 16px;
 }
  #header.small #searchbox {
      font-size: 16px;
  }
  #header.small #main-logo {
      width: 100px;
      height: 100px;
  }
