
#header-title {
    font-family: "Press Start 2P", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 250%;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    transition: 0.7s;
}
