#header {
    /*position:fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 100%;*/
    z-index : 100000;
    position: fixed;
    border-bottom: 1px solid black;
    top: 0;
    margin: 0;
    background: rgb(2,0,36);
    background:linear-gradient(182deg, rgb(143 143 255) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:  hidden;
    height: 50vh !important;
      width: 100%;
    transition: .7s;
} 

#header.small {
      height: 20vh !important;
      font-size:  16px;
}
 #header.small #header-title {
     font-size: 23px;
 }
@media (max-width: 700px) {
    #robot-list {
        /*margin-top: 65vh;*/
    }
    .small #robot-list {
        margin-top: 0 !important;
    }
    #header.small {
        height: 20vh !important;
    }
    #header-title {
        font-size: 200%;
    }
}


@media (max-width: 380px) {
    #header-title  {
        font-size:  150%;
    }
    #main-logo {
        height:15vw !important;
        width:15vw !important;
    }
}
@media (max-width: 700px) {
    #header {
        flex-direction: column;
        height: 65vh !important;
    }
    #header.small #main-logo{
        display: none;
    }
    #main-logo {
        height:25vw !important;
        width:25vw !important;
    }
}

  #header.small #searchbox {
      font-size: 16px;
  }
  #header.small #searchbox input {
      height: 30px;
  }


  #header #main-logo-container {
      height: 100%;
      display: flex;
      align-items: flex-end;
  }
  #header #main-logo {
      width: 45vh;
      height: 35vh;

      max-height: 35vh !important;
      max-width: 45vh;

      min-width: 130px;
      min-height: 130px;

      transition: .7s;
  }
  #header.small #main-logo {
      width: 100px;
      height: 100px;
  }

